html {
    font-family: Roboto;
}

.btn {
    border-radius: 4px;
    box-shadow: unset;
}
.btn-flat {
    border-radius: 4px;
}

.my-breadcrumbs{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & .btn-flat{            
        padding: 0 0.25rem;
        text-transform: capitalize;
        &:hover{
            background-color: unset !important;
        }
    }
}

.sum{    
    & span{
        display: inline-block;
        min-width: 1rem;
        height: 1rem;
        line-height: 1rem;        
    }
}

.collapsible-body{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    & .collection-item{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}


.modal-content{
    .is-today{
        color: #388e3c !important;
    }
    .is-selected{
        background-color: #388e3c !important;        
        color: white !important;        
    }
    .datepicker-date-display{
        background: #fb8c00 !important;
    }
    .datepicker-footer{
        button{
            color: #388e3c !important;
        }
    }
}