#login-form {
    position: relative;
    margin-top: 1rem;
    .login-org {
        display: block;
        margin: 1rem auto;
    }

    .login-prd-img {
        display: block;
        margin: 0.5rem auto;
    }

    .login-prd-txt {
        display: block;
        margin: 1rem auto 1.5rem auto;
        text-align: center;
        font-size: 12pt;
    }

    .input-field{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        &:nth-child(1){
            margin-top: 1rem !important;
        }
        &:nth-last-child(1){
            margin-bottom: 1rem !important;       
        }        
    }
}

#a-forgot {
    position: absolute;
    left: -2px;
    text-transform: unset;
    .waves-ripple {
        background-color: rgba($color: #fb8c00, $alpha: 0.25);
    }
}

input {
    &[type="text"]:not(.browser-default),
    &[type="email"]:not(.browser-default),
    &[type="password"]:not(.browser-default),
    textarea.materialize-textarea,
    &:not([readonly]) {
        box-sizing: border-box;
        padding: 0 1rem;
        font-size: 1rem;
        height: 3.5rem;
        border-radius: 0.25rem;
        border: 0.062rem solid rgba(0, 0, 0, 0.14) !important;
        &.valid {
            border-radius: 0.25rem;
            border-bottom: 0.125rem solid rgba(0, 0, 0, 0.14) !important;
            box-shadow: unset !important;
        }
        &.validate.invalid {
            border-bottom: unset !important;
            border: 0.062rem solid #f44336 !important;
            box-shadow: unset !important;
            & + label {
                color: #f44336;
            }
        }
        & + label {
            width: fit-content !important;
            margin-left: 1rem;
            background: white;
            &:not(.active) {
                top: calc(1.75rem - 10px);
                transform: unset;
            }
            &.active {
                margin-left: 0.5rem;
                margin-top: 0.25rem;
            }
        }
        &:focus {
            &:not(.invalid) {
                border: 0.125rem solid #66bb6a !important;
                box-shadow: none !important;
                & + label {
                    color: #43a047 !important;
                }
            }
        }
    }
}
